@model AntiqueMall.Models.Send_question

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Send_question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="detaild">
            @Html.DisplayNameFor(model => model.question_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_title)
        </dd>

        <dt class="detaild">
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt class="detaild">
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt class="detaild">
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt class="detaild">
            @Html.DisplayNameFor(model => model.message_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message_text)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" , style="width:150px;" />
            <a href="/Admin/Send_question/Index" class="btn btn-primary " , style="width:150px;">Back to List</a>
        </div>
    }
</div>
