@using AntiqueMall.Models;
<section id="paint_slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 padd">
                @foreach (fsecslide item in ViewBag.slide)
                {
                    <div class="slide" style="background:url(@item.photo);">
                        <div class="text">
                            <h1>@item.title</h1>
                            <p>@item.text</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
               @foreach (Blog item in ViewBag.blog)
               {
                    <div class="headline">

                        <a href="#" class="head">@item.info_title</a>
                        <ul class="links">
                            <li>
                                <i class="fa fa-user"></i>
                                <a href="#">@item.user_type</a>
                            </li>
                            <li>
                                <i class="fa fa-calendar" aria-hidden="true"></i>@item.date
                            </li>
                            <li>1 minute read</li>
                            <li>
                                <i class="fa fa-comments"></i>
                                <a href="#">Leave a comment</a>
                            </li>
                        </ul>

                    </div>
                
                
                <img src="@item.photo" alt="">
                <p>
                    @item.text.Substring(0,200)...
                </p>

                <a class="btn btn-success btn-responsive btn_res" href="#">
                    View Post
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
                <div class="lines">

                </div>
}
              
            </div>
            <div class="col-md-4">
                <div class="search_part">
                    <input type="search" class="search" placeholder="Search">
                    <a href="#" class="search_icon">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
                <div class="product_category">
                    <h3 class="second">Recent Posts</h3>
                    <div class="lines">
                        <div class="first"></div>
                    </div>
                    <ul>
                        <li>
                            <a href="#">16 Delicious Dining Rooms</a>

                        </li>
                        <div class="lines"></div>
                        <li>
                            <a href="#">13 Spaces with High-Style Ceilings</a>
                        </li>
                        <div class="lines"></div>
                        <li>
                            <a href="#">Intelligent Design: 15 Gorgeous Rooms for Bookworms</a>
                        </li>
                        <div class="lines"></div>
                        <li>
                            <a href="#">Hello world!</a>
                        </li>
                    </ul>
                </div>
                <div class="product_category">
                    <h3 class="second">Recent Comments</h3>
                    <div class="lines">
                        <div class="first"></div>
                    </div>
                    <ul>
                        <li>
                            <a href="#">admin on Mythological cartel clock</a>

                        </li>
                        <div class="lines"></div>
                        <li>
                            <a href="#">admin on Silvered and gilt bronze</a>

                        </li>
                        <div class="lines"></div>
                        <li>
                            <a href="#">admin on Mythological cartel clock</a>
                        </li>
                        <div class="lines"></div>
                        <li>
                            <a href="#">admin on Acid etches ewer bu baccarat</a>
                        </li>
                        <div class="lines"></div>
                        <li>
                            <a href="#">A WordPress Commenter on Hello world!</a>
                        </li>
                    </ul>
                </div>

                <div class="product_category">
                    <h3 class="second">ARCHIVES</h3>
                    <div class="lines">
                        <div class="first"></div>
                    </div>
                    <ul>
                        <li>
                            <a href="#">October 2017</a>

                        </li>
                        <div class="lines"></div>
                        <li>
                            <a href="#">September 2017</a>

                        </li>
                    </ul>
                </div>

                <div class="product_category">
                    <h3 class="second">CATEGORIES</h3>
                    <div class="lines">
                        <div class="first"></div>
                    </div>
                    <ul>
                        <li>
                            <a href="#">Blog</a>

                        </li>
                        <div class="lines"></div>
                        <li>
                            <a href="#">Uncategorized</a>

                        </li>
                    </ul>
                </div>
                <div class="product_category">
                    <h3 class="second">META</h3>
                    <div class="lines">
                        <div class="first"></div>
                    </div>
                    <ul>
                        <li>
                            <a href="#">Register</a>

                        </li>
                        <div class="lines"></div>
                        <li>
                            <a href="#">Log in</a>

                        </li>
                        <div class="lines"></div>
                        <li>
                            <a href="#">
                                Entries
                                <abbr title="Really Simply Syndication">RSS</abbr>
                            </a>
                        </li>
                        <div class="lines"></div>
                        <li>
                            <a href="#">
                                Comments
                                <abbr title="Really Simply Syndication">RSS</abbr>
                            </a>
                        </li>
                        <div class="lines"></div>
                        <li>
                            <a href="#">WordPress.org</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="logos">
    <div class="container">
        <div class="row">

            <div class="col-md-2">
                <i class="logo1"></i>
            </div>
            <div class="col-md-2">
                <i class="logo1"></i>
            </div>
            <div class="col-md-2">
                <i class="logo1"></i>
            </div>
            <div class="col-md-2">
                <i class="logo1"></i>
            </div>
            <div class="col-md-2">
                <i class="logo1"></i>
            </div>
            <div class="col-md-2">
                <i class="logo1"></i>
            </div>
        </div>
    </div>
</section>