@using AntiqueMall.Models;
<section id="paint_slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 padd">
                @foreach (fsecslide item in ViewBag.slide)
                {
                    <div class="slide" style="background:url(@item.photo)">
                        <div class="text">
                            <h1>@item.title</h1>
                            <p>@item.text</p>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section id="testimonial2">
    <div class="container">
        
            <div class="row">
      @foreach (user item in ViewBag.users)
       {
                <div class="col-md-6 col-sm-12 col-xs-12 wid">
                    <div class="@item.Box">
                        <img src="@item.photo" alt="">
                        <p>
                            <em>@item.idea</em>
                        </p>
                        <h4>@item.name</h4>
                        <h5>@item.shopVintage</h5>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-quote-left left" aria-hidden="true"></i>
                    </div>
                </div>

          }
    </div>
        <div class="row">
            @foreach (user item in ViewBag.users1)
            {
                <div class="col-md-6 col-sm-12 col-xs-12 wid">
                    <div class="@item.Box">
                        <img src="@item.photo" alt="">
                        <p>
                            <em>@item.idea</em>
                        </p>
                        <h4>@item.name</h4>
                        <h5>@item.shopVintage</h5>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-quote-left left" aria-hidden="true"></i>
                    </div>
                </div>

            }
        </div>
        <div class="row">
            @foreach (user item in ViewBag.users2)
            {
                <div class="col-md-6 col-sm-12 col-xs-12 wid">
                    <div class="@item.Box">
                        <img src="@item.photo" alt="">
                        <p>
                            <em>@item.idea</em>
                        </p>
                        <h4>@item.name</h4>
                        <h5>@item.shopVintage</h5>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-quote-left left" aria-hidden="true"></i>
                    </div>
                </div>

            }
        </div>
        <div class="row">
            @foreach (user item in ViewBag.users3)
            {
                <div class="col-md-6 col-sm-12 col-xs-12 wid">
                    <div class="@item.Box">
                        <img src="@item.photo" alt="">
                        <p>
                            <em>@item.idea</em>
                        </p>
                        <h4>@item.name</h4>
                        <h5>@item.shopVintage</h5>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-quote-left left" aria-hidden="true"></i>
                    </div>
                </div>

            }
        </div>
        <div class="row">
            @foreach (user item in ViewBag.users4)
            {
                <div class="col-md-6 col-sm-12 col-xs-12 wid">
                    <div class="@item.Box">
                        <img src="@item.photo" alt="">
                        <p>
                            <em>@item.idea</em>
                        </p>
                        <h4>@item.name</h4>
                        <h5>@item.shopVintage</h5>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i class="fa fa-quote-left left" aria-hidden="true"></i>
                    </div>
                </div>

            }
        </div>
</section>